<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, , initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</head>
<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-4">
                        <div class="left-header clearfix">
                            <ul>
                                <li><p><i class="fa fa-phone" aria-hidden="true"></i>(+880) 1910 000251</p></li>
                                <li class="hd-none"><p><i class="fa fa-clock-o" aria-hidden="true"></i>Mon-fri : 9:00-19:00</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8">
                        <div class="right-header">

                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-one" id="sticky-menu">
            <div class="container relative">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-xs-4">
                        <div class="logo">

                            <a href="/Scase/Main" class=""><font color="white">  <h1>Fade</h1></font></a>

                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10 col-xs-8 static">
                        <div class="all-manu-area">
                            <div class="mainmenu clearfix hidden-sm hidden-xs">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/Scase/Main">Home</a>
                                            @*<ul>
                                                <li><a href="index.html">Home Version One</a></li>
                                                <li><a href="index-2.html">Home Version Two</a></li>
                                            </ul>*@
                                        </li>
                                        <li>
                                            <a href="/Scase/Shop">Shop</a>
                                            <ul>
                                                <li><a href="/Scase/Men">Men</a></li>
                                                <li><a href="/Scase/Women">Women</a></li>
                                                <li><a href="blog-details.html">Accessories</a></li>                                             
                                            </ul>
                                        </li>
                                       
                                        <li><a href="shop.html">Lookbook</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul>                              
                                                <li><a href="about-us.html">About</a></li>
                                                <li><a href="blog.html">Blog</a></li>                           
                                                <li><a href="checkout.html">Contact</a></li>
                                                <li><a href="/Scase/CheckOut">Checkout</a></li>
                                                <li><a href="/Account/Login">Login</a></li>
                                                <li><a href="/Scase/MyAcc">My account</a></li>
                                                <li><a href="/Scase/Shop">Shop</a></li>                                           
                                                <li><a href="/Scase/GetCartList">Shopping-Cart</a></li>                              
                                                <li><a href="/Scase/Wishlist">Wishlist</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- mobile menu start -->
                            <div class="mobile-menu-area hidden-lg hidden-md">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li>
                                                <a href="index.html">Home</a>

                                            </li>
                                            <li>
                                                <a href="/Scase/Shop">Shop</a>
                                                <ul>
                                                    <li><a href="/Scase/Men">Men</a></li>
                                                    <li><a href="/Scase/Women">Women</a></li>
                                                    <li><a href="blog-details.html">Accessories</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop.html">Lookbook</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li>
                                                <a href="#">Pages</a>
                                                <ul>
                                                    <li><a href="about-us.html">About</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="checkout.html">Contact</a></li>
                                                    <li><a href="/Scase/CheckOut">Checkout</a></li>
                                                    <li><a href="/Account/Login">Login</a></li>
                                                    <li><a href="/Scase/MyAcc">My account</a></li>
                                                    <li><a href="/Scase/Shop">Shop</a></li>
                                                    <li><a href="/Scase/GetCartList">Shopping-Cart</a></li>
                                                    <li><a href="/Scase/Wishlist">Wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about-us.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- mobile menu end -->
                            <div class="right-header re-right-header">
                                <ul>
                                   
                                    <li id="cart">
                                        <div id="cartlist">


                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @Html.Action("GetCart", "Scase")
                                            }
                                            else
                                            {
                                                <a href="cart.html">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span class="color1">
                                                        <p1>0</p1>
                                                    </span>
                                                </a>
                                                <ul class="drop-cart">

                                                    <li class="total-amount clearfix">
                                                        <span class="floatleft">total</span>
                                                        <span class="floatright"><strong>= 00.00$</strong></span>
                                                    </li>
                                                    <li>
                                                        <div class="goto text-center">
                                                            <a href="cart.html"><strong>go to cart &nbsp;<i class="pe-7s-angle-right"></i></strong></a>
                                                        </div>
                                                    </li>
                                                    <li class="checkout-btn text-center">
                                                        <a href="checkout.html">Check out</a>
                                                    </li>
                                                </ul>
                                            }
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->
    <!-- slider-section-start -->


    <div>

        @RenderBody()


    </div>
    <footer class="re-footer-section">
        <!-- footer-top area start -->
        <div class="footer-top section-padding-top">
            <div class="footer-dsc">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="single-text res-text">
                                <div class="footer-title">
                                    <h4>Contact us</h4>
                                    <hr class="dubble-border" />
                                </div>
                                <div class="footer-text">
                                    <ul>
                                        <li>
                                            <i class="pe-7s-map-marker"></i>
                                            <p>My Company, 45 Puffin Street 1245</p>
                                            <p class="rs">Poffinville France.</p>
                                        </li>
                                        <li>
                                            <i class="pe-7s-call"></i>
                                            <p>+201 (987) 6641 053</p>
                                            <p>+202 (987) 6641 056</p>
                                        </li>
                                        <li>
                                            <i class="pe-7s-mail-open"></i>
                                            <p>info@domainname.com</p>
                                            <p>company@outlook.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="single-text res-text">
                                <div class="footer-title">
                                    <h4>my account</h4>
                                    <hr class="dubble-border" />
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="login.html">My Account</a></li>
                                        <li><a href="wishlist.html">My Wishlist</a></li>
                                        <li><a href="order-complete">My Orders</a></li>
                                        <li><a href="#">My Credit slips</a></li>
                                        <li class="nm"><a href="#">My Addresses</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 margin-top">
                            <div class="single-text res-text">
                                <div class="footer-title">
                                    <h4>customer service</h4>
                                    <hr class="dubble-border" />
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Site Map</a></li>
                                        <li class="nm"><a href="#">Gift Vouchers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 hidden-sm col-md-3 margin-top">
                            <div class="single-text res-text">
                                <div class="footer-title">
                                    <h4>NEWSLETTER</h4>
                                    <hr class="dubble-border" />
                                </div>
                                <div class="footer-text">
                                    <p>Lorem ipsum dolor sit amet, consectetures do adipisicing elit, sed do eiusmod tempores incididunt ut labore</p>
                                    <form action="mail.php" method="post">
                                        <input type="text" name="email" placeholder="Enter your mail" />
                                        <input type="submit" value="submit" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="dubble-border" />
            </div>
            <div class="social-media">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="paypal social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="social-icon">
                                <ul class="floatright">
                                    <li class="res-mar"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top area end -->
        <!-- footer-bottom area start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>&copy; 2016 Devitems. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area end -->
    </footer>


    <script src="~/Content/Adminka/js/nav.js"></script>

    <script src="~/Content/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- parallax js -->
    <script src="~/Content/js/parallax.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Img Zoom js -->
    <script src="~/Content/js/img-zoom/jquery.simpleLens.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/Content/js/jquery.meanmenu.js"></script>
    <!-- jquery.countdown js -->
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!-- Nivo slider js
    ============================================ -->
    <script src="~/Content/lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/Content/lib/home.js" type="text/javascript"></script>
    <!-- jquery-ui js -->
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <!-- sticky js -->
    <script src="~/Content/js/sticky.js"></script>
    <!-- plugins js -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/Content/js/main.js"></script>

    <script type="text/javascript">

        $("#searchform").submit(function () {
         
            $.post("/Scase/Search", { search: $("#ws").val() });
        });


        $(function () {
            var menu_ul = $('.menu-drop > li > ul'),
                menu_a = $('.menu-drop > li > a');
            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>


</body>
</html>
<style type="text/css">

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 6fr;
    }

        .wrapper > div {
            padding: 1em;
        }

            .wrapper > div.light {
                padding: 1em;
            }

    .or {
        margin: 30px;
    }
</style>