@{
    ViewBag.Title = "Fade";
}
<section class="slider-main-area">
    <div class="main-slider an-si">
        <div class="bend niceties preview-2 hm-ver-1">
            <div id="ensign-nivoslider-2" class="slides">
                <img src="~/Content/img/slider/1.jpg" alt="" title="#slider-direction-3" />
                <img src="~/Content/img/slider/2.jpg" alt="" title="#slider-direction-1" />
            </div>
            <!-- direction 1 -->
            <div id="slider-direction-3" class="t-cn slider-direction Builder">
                <div class="slide-all">
                    <!-- layer 1 -->
                    <div class="layer-1">
                        <h2 class="title5">new collection</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <h2 class="title6">Men’s Fashion</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <p class="title0">Save Up To 40% Off</p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-3">
                        <a class="min1" href="/Scase/Men">Shop Now</a>
                    </div>
                </div>
            </div>
            <div id="slider-direction-1" class="t-cn slider-direction Builder">
                <div class="slide-all slide2">
                    <!-- layer 1 -->
                    <div class="layer-1">
                        <h2 class="title5">new collection</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <h2 class="title6">Women’s Fashion</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <p class="title0">Save Up To 40% Off</p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-3">
                        <a class="min1" href="/Scase/Women">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="banner-area">
    <div class="container">
        <div class="section-padding1">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="banner-box banner-box-re">
                        <a href='@Url.Action("CreateOrderOne", "Scase" , new { id = 47 })'>
                            <img alt="" src="~/Content/img/banner/3.png">
                            <div>
                                <h2>
                                    Ellesse
                                </h2>
                                <p>Davis reflective bucket hat in black exclusive</p>
                            </div>
                        </a>
                    </div>
                    <div class="banner-box res-btm">
                        <a href='@Url.Action("CreateOrderOne", "Scase" , new { id = 46 })'>
                            <img alt="" src="~/Content/img/banner/2.png">
                            <div>
                                <h2>
                                    Dr Martens
                                </h2>
                                <p> fulmar shoes in black</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="banner-container banner-box res-btm">
                        <a href='@Url.Action("CreateOrderOne", "Scase" , new { id = 49 })'>
                            <img alt="" src="~/Content/img/banner/r6.png">
                            <div>
                                <h2>
                                    ASOS
                                </h2>
                                <p>Two piece revere collar relaxed fit shirt in WATERCOLOR souvenir print</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="banner-box banner-box-re">
                        <a href='@Url.Action("CreateOrderOne", "Scase" , new { id = 48 })'>
                            <img alt="" src="~/Content/img/banner/4.png">
                            <div>
                                <h2>
                                    Ray-ban
                                </h2>
                                <p>Hexagonal sunglasses in gold with blue lens</p>
                            </div>
                        </a>
                    </div>
                    <div class="banner-box">
                        <a href='@Url.Action("CreateOrderOne", "Scase" , new { id = 50 })'>
                            <img alt="" src="~/Content/img/banner/5.png">
                            <div>
                                <h2>
                                    Calvin Klein
                                </h2>
                                <p>Black leather wallet</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="testimonials stripe-parallax-bg" data-parallax-speed="0.5">
    <div class="re-testimonials">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title re-section-title">
                        <h3>Fashion</h3>
                        <div class="section-icon re-section1">
                            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-text-center text-center">
                    <div id="testimonials" class="re-owl-carousel2 owl-carousel product-slider owl-theme">
                        <div class="single-testimonial">
                            <div class="testimonial-dsc">
                                <p>“The way the light hits in L.A. just makes everything seem so saturated,” says Tyler. “It’s not dense or cluttered with people so I guess it just allows you to just dress in these vibrant colors.” His keen sense of color is undoubtedly influenced by his environment. His fashion impulses, however, are largely guided by his gut and a smorgasbord of cartoon references stored on that hard drive of a brain.</p>
                            </div>
                            <div class="testimonial-img">
                                <a href="#"><img src="~/Content/img/testimonial/Tyler.jpg" alt="Title" /></a>
                                <h4><a href="#">Tyler, the Creator</a></h4>
                                <span>GOLF</span>
                            </div>
                        </div>
                        <!-- single testimonial item end -->
                        <div class="single-testimonial">
                            <div class="testimonial-dsc">
                                <p>While the A$AP Mob is known primarily as a music collective, they’ve exemplified what the crew is capable of outside of the sonic realm with the introduction of clothing label, VLONE. Comprised of A$AP Rocky, A$AP Bari and CLOT’s Edison Chen, they’ve just begun to scratch the surface of what “always strive and prosper” truly means.</p>
                            </div>
                            <div class="testimonial-img">
                                <a href="#"><img src="~/Content/img/testimonial/Rocky.jpg" alt="Title" /></a>
                                <h4><a href="#">A$AP Rocky</a></h4>
                                <span>VLONE</span>
                            </div>
                        </div>
                        <!-- single testimonial item end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h3>from the blog</h3>
                    <div class="section-icon">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="blog" class="owl-carousel product-slider owl-theme re-blog">
                <div class="col-xs-12">
                    <div class="blog-container-inner">
                        <div class="post-thumb">
                            <a href="#"><img class="attachment-blog-list wp-post-image" alt="blog-2" src="~/Content/img/blog/_TylerTheCreator_Statue_01RB.jpg"></a>
                        </div>
                        <div class="visual-inner">
                            <h2 class="blog-title">
                                <a href="#"> IGOR become new style</a>
                            </h2>
                            <div class="blog-meta">
                                <span class="post-category">
                                    in
                                    <a rel="category" href="#">Fashion</a>
                                </span>
                                <span class="published">
                                    <i class="fa fa-clock-o"></i>
                                    Oct 31, 2014
                                </span>
                                <span class="published2">0 comment</span>
                            </div>
                            <div class="blog-content"> A few weeks from now, thousands of similarly well-dressed and adoring Tyler, the Creator fans would fill the grounds of Dodger Stadium in Los Angeles for what is known as the Camp Flog Gnaw Carnival. </div>
                        </div>
                    </div>
                </div>
                <!-- single blog item end -->
                <div class="col-xs-12">
                    <div class="blog-container-inner">
                        <div class="post-thumb">
                            <a href="#"><img class="attachment-blog-list wp-post-image" alt="blog-2" src="~/Content/img/blog/asap-rocky-asap-bari-highsnobiety-magazine-13-01.jpg"></a>
                        </div>
                        <div class="visual-inner">
                            <h2 class="blog-title">
                                <a href="#"> interest about Vlone </a>
                            </h2>
                            <div class="blog-meta">
                                <span class="post-category">
                                    in
                                    <a rel="category" href="#">Men</a>
                                </span>
                                <span class="published">
                                    <i class="fa fa-clock-o"></i>
                                    Oct 31, 2014
                                </span>
                                <span class="published2">1 comment</span>
                            </div>
                            <div class="blog-content"> A$AP Rocky & A$AP Bari Explain Everything You Need to Know About VLONE.</div>
                        </div>
                    </div>
                </div>
                <!-- single blog item end -->
                <div class="col-xs-12">
                    <div class="blog-container-inner">
                        <div class="post-thumb">
                            <a href="#"><img class="attachment-blog-list wp-post-image" alt="blog-2" src="~/Content/img/blog/balanciaga-work.jpg"></a>
                        </div>
                        <div class="visual-inner">
                            <h2 class="blog-title">
                                <a href="#">balenciaga new collection</a>
                            </h2>
                            <div class="blog-meta">
                                <span class="post-category">
                                    in
                                    <a rel="category" href="#">Fashion</a>
                                </span>
                                <span class="published">
                                    <i class="fa fa-clock-o"></i>
                                    Oct 31, 2014
                                </span>
                                <span class="published2">0 comment</span>
                            </div>
                            <div class="blog-content"> In Demna Gvasalia's show notes for Balenciaga, he says the spring 2020 collection "reimagines dressing for work: power dressing, no matter what one does as a job." He gave blazers the strong, boxy shoulder touch and trousers more of a slouched effect. </div>
                        </div>
                    </div>
                </div>
                <!-- single blog item end -->
                <div class="col-xs-12">
                    <div class="blog-container-inner">
                        <div class="post-thumb">
                            <a href="#"><img class="attachment-blog-list wp-post-image" alt="blog-2" src="~/Content/img/blog/banner_hilights.jpg"></a>
                        </div>
                        <div class="visual-inner">
                            <h2 class="blog-title">
                                <a href="#"> stone island new collection</a>
                            </h2>
                            <div class="blog-meta">
                                <span class="post-category">
                                    in
                                    <a rel="category" href="#"> Fashion</a>
                                </span>
                                <span class="published">
                                    <i class="fa fa-clock-o"></i>
                                    Oct 31, 2014
                                </span>
                                <span class="published2">0 comment</span>
                            </div>
                            <div class="blog-content"> The study of camouflage - the basis of the collection - with three options for the scale of the picture, used individually or mixed, and applied to the govot product by dyeing. </div>
                        </div>
                    </div>
                </div>
                <!-- single blog item end -->
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Brands")
@Html.Partial("_Info")